.party {
  height: .6rem;
  display: flex;
  padding: 0;
  align-items: center;
}

.party p {
  margin-bottom: 0;
}

.party-a {
  text-decoration: none;
  color: #333;
}

.footer p {
  margin: .3rem 0;
  font-size: .26rem;
  color: #666;
  &:nth-of-type(1) {
    font-weight: 700;
    color: #333;
  }
}

.dep h5 {
  font-size: .32rem;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin: .4rem 0;
}

.dep p:nth-of-type(1) {
  font-weight: 700;
  color: #000;
  font-size: .26rem;
}