.protocol-title{
    text-align: center;
    font-size:.26rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
}
.party{
    height:.9rem;
    line-height:.9rem;
    overflow: hidden;
    border-bottom:1px solid #E2E2E2;
    padding: 0 .3rem;
    font-size:.26rem;
}
.party {
    display: flex;
    justify-content: space-between    
}
