p i{
  color: #FB4D3A;
}
.btn{
  display: block;
  width: 3.12rem;
  height: .76rem;
  border-radius: .76rem;
  border:2px solid #FB4D3A;
  color: #fff !important;
  text-decoration: none !important;
  font-size: .32rem;
  background-color: #FB4D3A;
  text-align: center;
  line-height: .72rem;
  margin: 0 auto;
  margin-bottom: .6rem;
}
h5{
  font-weight: 700;
  margin-bottom: .6rem;
}